*{
    font-size: 24px;
    box-sizing: border-box;
    margin: 3px;
}

#titulo{
    color: tomato;
}

p.texto1{
    color: mediumvioletred;

}
p.texto2{
    color: mediumaquamarine;
}

div p{
    color: brown;
}

div h2, div h3 {
    color: lightcoral;
}

.color{
    color: aqua;
    /* border: 5px black solid; */
    border-style: solid ;
    border-color: blue ;
    border-radius:  5px;
    

}



.fixed{
    background-color: black;
    position: fixed;
    color: white;
}

body{
    background-color: black;
}

